.signupframe {
    display: flex;
    flex-direction: column;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    align-items: center;
    gap: 20px;
    position: relative;
}

/*공통 placeholder 글자색 변경경*/
.signupframe ::placeholder {
    color: #d9d9d9; 
    opacity: 1;
  }

.signupframe .signuptext {
    position: relative;
    align-self: stretch;
    height: 52px;
    margin-top: -1.00px; 
    font-weight: 700;
    font-size: 26px;
    color: #3b82f6;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.signupframe .signupgroup {
    position: relative;
    width: 300px;
    height: 60px;
    display: flex;
}

.signupframe .signupnickname {
    position: relative;
    width: 200px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #d9d9d9;
    font-weight: 500;
    color: #d9d9d9;
}

.signupframe .signupcheckbtn {
    position: absolute;
    left: 210px;
}

.signupframe .signupid {
    position: relative;
    width: 200px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #d9d9d9;
    font-weight: 500;
    color: #d9d9d9;
}

.signupframe .signuppw {
    position: relative;
    width: 300px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #d9d9d9;
    font-weight: 500;
    color: #d9d9d9;
}


.signupframe .signupcheckpw {
    position: relative;
    width: 300px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #d9d9d9;
    font-weight: 500;
    color: #d9d9d9;
}



.signupframe .signupcheckbox {
    font-size: 14px;
    white-space: nowrap;
    color: #d9d9d9;
}