.header-upper-navigator {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width:393px;
    height: 30px;
    background-color: #ffffff;
    justify-content: center;
}

.header-upper-navigator .header-overlap-group {
    position: relative;
    height: 30px;
    background-color: #ffffff;
}

.header-upper-navigator .header-img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 6px;
    left: 341px;
}

.header-upper-navigator .header-title {
    position: absolute;
    width: 84px;
    height: 24px;
    top: 2px;
    left: 40px;
    font-family: "Roboto-BoldItalic", Helvetica;
    font-weight: 700;
    font-style: italic;
    color: #3b82f6;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 29.9px;
    white-space: nowrap;
}

.header-upper-navigator .header-login {
    position: absolute;
    width: 71px;
    height: 17px;
    top: 4px;
    left: 267px;
    font-family: "Roboto-BoldItalic", Helvetica;
    font-weight: 700;
    font-style: italic;
    color: #3b82f6;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 29.9px;
    white-space: nowrap;
}