.volunteerhistory {
    max-width: 393px;
    margin: 0 auto;
    padding: 24px 20px 80px;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  .vhtitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .bottomsheetcontent {
  padding: 20px 4%;
  margin-top: 10px;
  overflow-y: auto; /* 내용이 많을 경우 스크롤 허용 */
  max-height: calc(85vh - 100px); /* 스크롤 영역 최대 높이 (총 높이 - 검색바/헤더 높이) */
}

.pagehead {
  display: flex;
  gap: 170px;
}

  
  